<mat-toolbar color="warn">
    <mat-toolbar-row>
        <button mat-button>Home</button>
        <button mat-button [routerLink]="[ '/cars' ]" routerLinkActive="active">Cars</button>
        <button mat-button [routerLink]="[ '/cars/form' ]" routerLinkActive="active" *ngIf="authService.hasRole('ROLE_ADMIN')">New Car</button>
        <button mat-button [routerLink]="[ '/car' ]" routerLinkActive="active">Car</button>
        <button mat-stroked-button *ngIf="!authService.isAuthenticated()" [routerLink]="[ '/login' ]" routerLinkActive="active" class="right">Login</button>
        <div *ngIf="authService.isAuthenticated()" class="right">
            <p>Hello {{ authService.user.username }}</p>
            <button mat-stroked-button (click)="logout()" [routerLink]="[ '/cars' ]" routerLinkActive="active">Logout</button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>